.top-divider-background {
  background-image: url("/images/section-divider.svg");
  position: absolute;
  inset: 0;
  top: -9%;
  bottom: 99%;
  z-index: 10;
  background-position:50% 100%;
  background-repeat: no-repeat;
  background-size: 100%
}

.bottom-divider-background {
  background-image: url("/images/section-divider.svg");
  position: absolute;
  inset: 0;
  top: 99%;
  bottom: -9%;
  z-index: 10;
  background-position:50% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotateZ(180deg);
}