.link-underline {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    border-bottom: 6px solid red;
    width: calc(100% + 10px);
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.2s;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.strategy-left-side-in {
  transform: translateX(-110%);
  transition: 0.3s;

  @apply absolute top-0 right-0;
  &.active {
    transform: translateX(0);
    transition-delay: 0.35s;
  }
}

.strategy-right-side-in {
  transform: translateX(150%);
  transition: 0.3s;
  @apply absolute top-0 left-0;

  &.active {
    transform: translateX(0);
    transition-delay: 0.35s;
  }
}