@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/gloria-hallelujah-v15-latin-regular.woff2) format('woff2');
}

h2 {
  font-family: 'Gloria Hallelujah';
  font-size: 50px;
  font-style: normal;
  font-weight: 100;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}